body {
    min-height: 100vh;
    background-color: #F8F9FA;
}

#titleofpage {
    color: #343a40;
    font-weight: 700;
}

#titleofpage:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease;
}


.card {

    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px) saturate(110%);
    -webkit-backdrop-filter: blur(8px) saturate(110%);
}


.card:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease;
}

.list-group {
    border: none !important;
    border-radius: 0 !important;
}

.list-group-item {
    background-color: #f1f1f1 !important;
    border: none;
    margin-bottom: 8px;
    padding: 10px 15px;
    border-radius: 6px;
}


.list-group-item:hover {
    background-color: #e0e0e0 !important;
}

.delete-btn:hover {
    opacity: 1 !important;
}