<%- include('../partials/mainhead') %>
    <%- include('../partials/navbar') %>

        <div class="d-flex flex-row flex-wrap justify-content-center gap-5 mt-5">
            <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <h3 class="card-title ">Total Income</h3>
                    <h2 class="card-text my-3" style="color: #28a745;"><%= TotalIncome %></h2>
                </div>
            </div>
            </a>
             <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 18rem;">
                <div class="card-body  text-center">
                    <h3 class="card-title">Receivables</h3>
                     <h2 class="card-text my-3" style="color: #28a745;">₹2000</h2>
                </div>
            </div>
            </a>
                <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 18rem;">
                <div class="card-body  text-center">
                    <h3 class="card-title">Payables</h3>
                    <h2 class="card-text my-3" style="color: #ffc107;">₹2000</h2>
                </div>
            </div>
            </a>
               <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <h3 class="card-title">Bills to be paid</h3>
                         <h2 class="card-text my-3" style="color: #dc3545;">₹100</h2>
                </div>
            </div>
               </a>
                  <a href="#" style="text-decoration: none;">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Number of Bills</h5>
                   <h2 class="card-text my-3">0</h2>
                </div>
            </div>
                  </a>
        </div>
        <%- include('../partials/footer') %>