<nav class="navbar navbar-expand-lg" style="background-color: #8754ff;">
  <div class="container-fluid">
    <a class="navbar-brand libre-baskerville-regular"
      style="font-family: 'Libre Baskerville', serif; font-weight: 700; font-style: normal;" href="/">ExpenseCare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <% if(user){ %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-end" style="font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="store/mysplithistory">Split History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notification</a>
          </li>
        </ul>

        <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight">
          More ☰
        </button>
        <% }else{ %>
        
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-end" style="font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;">
  <% if(pageTitle === 'Login Page' ){%>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/register">Register</a>
            </li>
          
          <% }else{  %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">Login</a>
            </li>
          </ul>
          <% } %>
          <% } %>
    </div>
  </div>
</nav>
<%- include('menu') %>